---

---

<footer class='mx-auto mt-24 w-full'>
	<div class='border-t border-border pt-5'>
		<div
			class='flex flex-col items-center gap-y-3 sm:flex sm:flex-row sm:items-center sm:justify-between sm:gap-y-0'
		>
			<div class='flex gap-x-4 text-sm'>
				<!-- <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/terms'>Terms</a
        >

        <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/privacy'>Privacy</a
        > -->
				<p class=''>© 2024 realSunyz. All rights reserved.</p>
			</div>

			<div class='flex items-center justify-between'>
				<div class='flex items-center gap-x-4'>
					<a
						class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
						href='https://t.me/realSunyz'
					>
						<svg
							class='h-4 w-4 flex-shrink-0' xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 48 48'
							><path
								fill="currentColor"
								d="M41.4193 7.30899C41.4193 7.30899 45.3046 5.79399 44.9808 9.47328C44.8729 10.9883 43.9016 16.2908 43.1461 22.0262L40.5559 39.0159C40.5559 39.0159 40.3401 41.5048 38.3974 41.9377C36.4547 42.3705 33.5408 40.4227 33.0011 39.9898C32.5694 39.6652 24.9068 34.7955 22.2086 32.4148C21.4531 31.7655 20.5897 30.4669 22.3165 28.9519L33.6487 18.1305C34.9438 16.8319 36.2389 13.8019 30.8426 17.4812L15.7331 27.7616C15.7331 27.7616 14.0063 28.8437 10.7686 27.8698L3.75342 25.7055C3.75342 25.7055 1.16321 24.0823 5.58815 22.459C16.3807 17.3729 29.6555 12.1786 41.4193 7.30899Z"
							></path></svg
						>
					</a>
					<a
						class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
						href='https://twitter.com/realSunyz'
					>
						<svg
							class='h-4 w-4 flex-shrink-0' xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'
							><path
								fill="currentColor"
								d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z"
							></path></svg
						>
					</a>
					<a
						class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
						href='https://github.com/realSunyz'
					>
						<svg
							class='h-4 w-4 flex-shrink-0' xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'
							><path
								fill="currentColor" fill-rule="evenodd" 
								d="M8 1C4.133 1 1 4.13 1 7.993c0 3.09 2.006 5.71 4.787 6.635.35.064.478-.152.478-.337 0-.166-.006-.606-.01-1.19-1.947.423-2.357-.937-2.357-.937-.319-.808-.778-1.023-.778-1.023-.635-.434.048-.425.048-.425.703.05 1.073.72 1.073.72.624 1.07 1.638.76 2.037.582.063-.452.244-.76.444-.935-1.554-.176-3.188-.776-3.188-3.456 0-.763.273-1.388.72-1.876-.072-.177-.312-.888.07-1.85 0 0 .586-.189 1.924.716A6.711 6.711 0 018 4.381c.595.003 1.194.08 1.753.236 1.336-.905 1.923-.717 1.923-.717.382.963.142 1.674.07 1.85.448.49.72 1.114.72 1.877 0 2.686-1.638 3.278-3.197 3.45.251.216.475.643.475 1.296 0 .934-.009 1.688-.009 1.918 0 .187.127.404.482.336A6.996 6.996 0 0015 7.993 6.997 6.997 0 008 1z"
							></path></svg
						>
					</a>
					
				</div>
			</div>
		</div>
	</div>
</footer>
