---
import PageLayout from '@/layouts/BaseLayout.astro'
import LinkSection from '@/components/LinkSection.astro'
import Button from '@/components/Button.astro'

const Group1 = [
	{
		name: 'Nanami Nakano',
		description: 'A few word about you.',
		href: 'https://thynanami.dev/',
		imgPath: 'https://cdn.sunyz.net/friends/nanami.webp'
	},
	{
		name: 'Lily Ellenvia',
		description: 'Bouquet.',
		href: 'https://lilynet.work/',
		imgPath: 'https://cdn.sunyz.net/friends/lily.webp'
	},	
	{
		name: 'Winslow',
		description: 'Tengu Youkai.',
		href: 'https://winsloweric.com/',
		imgPath: 'https://cdn.sunyz.net/friends/winslow.webp'
	},
	{
		name: 'Jackie',
		description: 'A cat\'s nest.',
		href: 'https://jackiecat.top/',
		imgPath: 'https://cdn.sunyz.net/friends/jackie.webp'
	},
	{
		name: 'TaranakiNeko',
		description: 'A cat lying on the keyboard.',
		href: 'https://nekoq.top/',
		imgPath: 'https://cdn.sunyz.net/friends/taranakineko.webp'
	},
	{
		name: 'Amane Tanikaze',
		description: 'Forever you will be in my heart.',
		href: 'https://amane.icu/',
		imgPath: 'https://cdn.sunyz.net/friends/nofated.webp'
	},
	{
		name: 'huige',
		description: 'Everyone can be the light in the darkness.',
		href: 'https://huige233.com',
		imgPath: 'https://cdn.sunyz.net/friends/huige.webp'
	},
	{
		name: 'Clansty',
		description: 'If you find nothing to create, then create yourself.',
		href: 'https://0w.al/',
		imgPath: 'https://cdn.sunyz.net/friends/clansty.webp'
	},
]

const Group2 = [
	{
		name: 'Souiken',
		description: 'May we still see the rising sun after enduring this long night.',
		href: 'https://souiken.moe/',
		imgPath: 'https://cdn.sunyz.net/friends/souiken.webp'
	},
	{
		name: 'Tenshi Sekunavi',
		description: 'Not saddened by self losses. Turn jealousy and envy into worship.',
		href: 'https://ltyec.com/',
		imgPath: 'https://cdn.sunyz.net/friends/tenshi.webp'
	},
	{
		name: 'SSR',
		description: 'And one day we\'ll look back at where we started and be amazed by how far we\'ve come.',
		href: 'https://leanhe.dev/',
		imgPath: 'https://cdn.sunyz.net/friends/ssr.webp'
	},

]
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>	

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Friends</h1>
				<p>listed in no particular order</p>
			</div>
			<LinkSection title='take a glance?' links={Group1} />
			<LinkSection title='long description moment :P' links={Group2} />
		</div>
	</div>
</PageLayout>
