---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
// import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'

const languages = ['Mandarin Chinese', 'English', 'French (learning)']
const programming = ['C++', 'Python', 'Bash', 'HTML', 'LaTeX']
const softwares = ['AI', 'PR', 'PS', 'XD', 'FCP', 'VS Code']
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<img src="https://cdn.sunyz.net/avatar@512x512.webp" alt="Avatar" class='h-28 w-auto rounded-full bg-[#FFBE98] p-2' loading='eager'/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Yanzheng SUN</h1>
				<a
					href='https://status.sunyz.net'
					class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
				>
					<span class='relative flex items-center justify-center'>
						<span
							class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
						></span>
						<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
					</span>
					<p class='font-medium'>service status</p>
				</a>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Student & Developer'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.153.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z'
							></path></svg
						>
					</Label>
					<Label title='Wuhan'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
							></path></svg
						>
					</Label>
					<Label title='i@sunyz.net' as='a' href='mailto:i@sunyz.net' target='_blank'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' slot='icon' class='h-5 w-5'
							><path
								stroke-width="1.05" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
								d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
							></path></svg
						>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				aka. Seven SUN, realSunyz. ex-OIer.
			</p>
			<p class='text-muted-foreground'>
				The next time we may meet anywhere, but we are always as brilliant as a sea of stars.
			</p>
		</Section>

		<Section title='Experience'>
			<Card
				heading='Network Operator'
				subheading='Sunyz Network'
				date='Feb 2022 - Mar 2023'
				imagePath='https://cdn.sunyz.net/logos/sunyz-network.webp'
				altText='Network Operator in Sunyz Network'
				imageClass='h-10 w-auto md:-left-32'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Operated and Maintained AS4242422650 in the DN42 decentralized peer-to-peer network, as well as AS150289 in the clearnet.
					</li>
					<li>
						Established multiple Point of Presence (POPs) in several regions worldwide.
					</li>
					<li>
						Used the OSPF routing protocol to manage internal network, and peered with multiple Autonomous Systems (ASs) via Internet Exchanges (IXs).
					</li>
				</ul>
			</Card>
		</Section>


		<Section title='Education'>
			<Card
				heading='Central China Normal University Overseas Study Services Centre'
				subheading='Secondary School'
				date='Sep 2023 - Jun 2026'
				imagePath='https://cdn.sunyz.net/assets/ccnu.webp'
				altText='Central China Normal University'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>obtaining an Ontario Secondary School Diploma (OSSD)</li>
					<li>currently in Grade 11</li>
				</ul>
			</Card>
		</Section>

		<Section title='Certifications'>
			<Card
				as='a'
				heading='CCF Certified Software Professional - Junior'
				subheading='The CSP-J is a certification that evaluates basic competencies (algorithmic and programming skills) of computer science for computer professionals or semi-professionals, organized by the China Computer Federation (CCF).'
				date='October, 2021'
				imagePath='https://cdn.sunyz.net/assets/ccf.webp'
				altText='CCF CSP-J Certified'
				imageClass='h-9 w-auto md:-left-16'
				href='https://www.noi.cn/hjmd/mdcx'
			/>
			<Card
				as='a'
				heading='CompTIA IT Fundamentals'
				subheading='The CompTIA IT Fundamentals (ITF+) exam focuses on the knowledge and skills required to identify and explain the basics of computing, IT infrastructure, software development and database use.'
				date='October, 2023'
				imagePath='https://cdn.sunyz.net/assets/comptia-itf.webp'
				altText='CompTIA ITF+ Certified'
				imageClass='h-11 w-auto md:-left-16'
				href='https://cdn.sunyz.net/assets/comptia-itf.pdf'
			/>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Programming' skills={programming} />
			<SkillLayout title='Softwares' skills={softwares} />
		</Section>
	</div>
</PageLayout>
